.home-view-container {
  height: 100%;
  width: 100%;
  
  

    .home-view-nav {
        width: 100%;
    }

    .home-view-content {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: space-around;
      margin-top: 20px;

      @media screen and (max-width: 600px) {
          flex-direction: column;
      }  

      .left {
          flex-basis: 60%;
          margin: 20px;
      }

      .right {
          flex-basis: 20%;
          margin: 20px;
      }

    }

}