.leader-board-box {
    background-color: #EEE2CF;
    margin: auto;
    border-radius: 2px 2px 0 0;
    height: 325px;

    .title {
        display: flex;
        height: 100px;
        width: 100%;
        color: white;
        border-radius: 5px 5px 0 0;
        background-color: #2B373E;
        box-shadow: 0px 10px 28px -10px rgba(0,0,0,0.75);


        h1 {
            flex-basis: 70%;
            font-size: 2.0em;
            margin: auto;
        }

        img {
            flex-basis: 30%;
            height: auto;
            width: auto;
        }

    }


    .content-container {
       margin: 5px;
       box-shadow: 0px 10px 28px -10px rgba(0,0,0,0.75);
       height: 215px;


        .board-row {
            margin: auto;
            text-align: center;
            height: 50px;
            width: 100%;
            background-color: #7FB9A9;
            opacity: .6;
        }

        .board-row:nth-child(2n) {
            background-color: #6E7871;
        }

}

    

}