.user-score-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;

    margin: auto;
    border-radius: 5px 5px 0 0;

    .title {
        display: flex;
        height: 100px;
        width: 100%;
        color: white;
        text-align: center;
        border-radius: 5px 5px 0 0;
        background-color: #222;

        h1 {
         flex-basis: 70%;
         font-size: 50px;
         margin: auto;

        }

        img {
           flex-basis: 30%; 
        }
    }

    .content-box {
        margin: auto;  
    }

      div h3 {
          text-align: center;
          font-size: 40px;
      }
}